Repository critocrito/sugarcube-discovery: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser json --write, prettier-package-json --write, eslint --fix

.lintstagedrc:

{
  "{*.json,*rc}": ["prettier --parser json --write", "git add"],
  "**/package.json": ["prettier-package-json --write", "git add"],
  "{*.js,*.ts,*.tsx}": ["eslint --fix", "git add"]
}

fix: use different dom container ids for options and popup
  src/options/options.html
  src/options/options.tsx
Due: eslint --fix

feat: add projects in the settings page
  package.json
  src/components/Preferences.tsx
  src/components/ProjectCreate.tsx
  src/components/ProjectItem.tsx
  src/components/ProjectList.tsx
  src/components/ProjectPreferences.tsx
  src/options/options.css
  src/options/options.tsx
  src/projects.ts
  src/types.ts
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write, eslint --fix

refactor: extract ProjectShow preference into it's own component
  src/components/ProjectItem.tsx
  src/components/ProjectShow.tsx
Due: eslint --fix

feat: bootstrap extension API
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  package.json
  src/js/components/HelloWorld.tsx
  src/js/components/ProjectCreate.tsx
  src/js/components/ProjectItem.tsx
  src/js/components/ProjectList.tsx
  src/js/components/ProjectPreferences.tsx
  src/js/components/ProjectShow.tsx
  src/js/options/options.css
  src/js/options/options.html
  src/js/options/options.tsx
  src/js/popup/popup.css
  src/js/popup/popup.html
  src/js/popup/popup.tsx
  src/js/projects.ts
  src/js/types.ts
  src/js/utils.ts
  src/rs/handlers.rs
  src/rs/main.rs
  tsconfig.json
  webpack.config.js
Due: prettier --parser json --write, prettier-package-json --write, eslint --fix

chore: setup cosmos-react
  .eslintrc
  __fixtures__/HelloWorld.tsx
  cosmos.config.json
  index.tsx
  package.json
  webpack.config.js
  webpack.cosmos.js
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write, eslint --fix

feat: render some project option components in cosmos
  __fixtures__/HelloWorld.tsx
  __fixtures__/options/show-create-project.tsx
  __fixtures__/options/show-project.tsx
  src/js/popup/popup.css
  webpack.config.js
Due: eslint --fix

chore: ignore known lint violations
  src/js/projects.ts
Due: eslint --fix

chore: add testing setup
  .eslintrc
  package.json
  test-setup.js
  tsconfig.json
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write, eslint --fix

fix: type errors in fixtures
  .huskyrc
  __fixtures__/options/show-create-project.tsx
  __fixtures__/options/show-project.tsx
Due: prettier --parser json --write, eslint --fix

chore: make tests work with helpers and typescript 3.7
  package.json
  tsconfig.json
Due: prettier --parser json --write, prettier-package-json --write

test: first tests for option interactions
  src/js/components/ProjectCreate.tsx
  src/js/components/ProjectShow.tsx
  test/ProjectItem.tsx
  test/ProjectShow.tsx
Due: eslint --fix

chore: fix paths of imports
  __fixtures__/options/show-create-project.tsx
  __fixtures__/options/show-project.tsx
  cosmos.config.json
  package.json
  test/ProjectItem.tsx
  test/ProjectShow.tsx
Due: prettier --parser json --write, prettier-package-json --write, eslint --fix

feat: detect urls content type
  src/js/facebook.ts
  src/js/twitter.ts
  src/js/youtube.ts
  test/facebook.ts
  test/twitter.ts
  test/youtube.ts
Due: eslint --fix

refactor: centralize all custom styles
  cosmos.config.json
  src/js/options/options.css
  src/js/popup/popup.css
Due: prettier --parser json --write

feat: add component for popup header based on content
  __fixtures__/popup/ContentHeader.tsx
  package.json
  src/js/components/ContentHeader.tsx
  src/js/styles.css
  src/js/utils.ts
  test/ContentHeader.tsx
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write, eslint --fix

feat: include the content header in the popup
  src/js/components/ContentHeader.tsx
  src/js/components/Popup.tsx
  src/js/popup/popup.tsx
  src/js/styles.css
  src/js/utils.ts
Due: eslint --fix

refactor: merge two switch statements into one
  src/js/components/ContentHeader.tsx
Due: eslint --fix

refactor: beautified content header
  src/js/components/ContentHeader.tsx
Due: eslint --fix

feat: import nord.css
  src/js/nord.css
  src/js/styles.css
Due: none

feat: add header, footer and popup with preservation button
  __fixtures__/ContentPreservation.tsx
  __fixtures__/Footer.tsx
  __fixtures__/Header.tsx
  __fixtures__/Popup.tsx
  __fixtures__/ShowCreateProject.tsx
  __fixtures__/ShowProject.tsx
  __fixtures__/buttons.tsx
  manifest.js
  src/js/@types/custom.d.ts
  src/js/components/Button.tsx
  src/js/components/ContentPreservation.tsx
  src/js/components/Footer.tsx
  src/js/components/Header.tsx
  src/js/components/Popup.tsx
  src/js/logo.svg
  src/js/popup/popup.html
  src/js/styles.css
  test/ContentPreservation.tsx
Due: eslint --fix

refactor: remove dependency on semantic-ui
  __fixtures__/ProjectPreferences.tsx
  package.json
  src/js/components/Button.tsx
  src/js/components/ProjectCreate.tsx
  src/js/components/ProjectList.tsx
  src/js/components/ProjectPreferences.tsx
  src/js/components/ProjectShow.tsx
  src/js/options/options.html
  src/js/options/options.tsx
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write, eslint --fix

feat: send queries to a backend and store them in a SQLite database
  Cargo.lock
  Cargo.toml
  src/js/components/ContentPreservation.tsx
  src/rs/handlers.rs
  src/rs/main.rs
Due: eslint --fix

install xstate
  package.json
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write

layout basic preservation process as state machine
  .gitignore
  Cargo.lock
  Cargo.toml
  __fixtures__/PreservationProcess.tsx
  package.json
  src/js/components/ContentPreservation.tsx
  src/js/components/PreservationProcess.tsx
  src/js/machines.ts
  src/rs/handlers.rs
  src/rs/main.rs
  webpack.cosmos.js
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write, eslint --fix

enable api logging
  Cargo.lock
  Cargo.toml
  src/rs/handlers.rs
  src/rs/main.rs
Due: none

validate request
  Cargo.lock
  Cargo.toml
  src/rs/handlers.rs
  src/rs/main.rs
Due: none

handle error responses
  src/js/components/PreservationProcess.tsx
  src/rs/handlers.rs
Due: eslint --fix

minor
  src/js/components/PreservationProcess.tsx
Due: eslint --fix

chore: ignore sqlite database
  .gitignore
Due: none

feat: model the preservation process
  Cargo.lock
  Cargo.toml
  __fixtures__/PreservationProcess.tsx
  __fixtures__/buttons.tsx
  package.json
  src/js/components/Button.tsx
  src/js/components/ContentPreservation.tsx
  src/js/components/PreservationProcess.tsx
  src/js/components/preservation/SelectProjects.tsx
  src/js/machines.ts
  src/js/utils.ts
  src/rs/handlers.rs
  src/rs/main.rs
  webpack.cosmos.js
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write, eslint --fix

refactor: dispatch SQL messages to an executor function
  Cargo.lock
  Cargo.toml
  src/rs/handlers.rs
  src/rs/main.rs
  src/sql/create_query.sql
Due: none
